https://api.whatsapp.com/send?phone=502{{service.phone}}&text=Hola%20*{{service.client}}*
%20Te%20Saludamos%20de%20*{{service.sucursal.name}}*,%20es%20un%20placer%20informarte%20
que%20tu%20*{{service.category.name}}%20{{service.mark.name}}*%20ya%20fué%20reparado%20
por%20nuestro%20centro%20técnico.
El%20costo%20total%20del%20servicio%20es%20de%20*Q{{service.costo_total}}*%20y%20
%20puedes%20pasar%20a%20recogerlo%20en%20cualquier%20
momento.%20Nuestros%20horarios%20de%20atención%20son%20de%208:00AM%20a%206:30PM.
%20
